* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  position: relative;
  cursor: none;
}
.main {
  display: block;
  max-height: 99vh;
  object-fit: contain;
}

.secondary {
  display: none;
  position: absolute;
  width: 275px;
  height: 275px;
  border-radius: 100%;
  border: 5px solid rgba(252, 2, 2, 0.85);
}
